PORT=

#JWT
AUTH_JWT_SECRET=
AUTH_ACCESS_TOKEN_EXPIRES_IN= 
AUTH_REFRESH_TOKEN_EXPIRES_IN=

#Docker DB
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

#Redis
REDIS_PORT = 
REDIS_HOST= 

DATABASE_URL=""